/* Global */

.SwitcherTitle {
  color: #fff;
  text-align: center;
  font-size: 2rem;
}


/* Buttons */

.SwitcherButtons {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, auto);

}

/* Computer view */

@media screen and (min-width: 1200px) {

  .MenuGrid {
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: auto auto;
    justify-content: center;
    row-gap: 8vh;
    align-items: center;
  }

  .Switcher {
    display: grid;
    grid-template-columns: 15vw 20vw auto;
    column-gap: 4vw;
  }

  .SwitcherDescribe {
    display: grid;
    align-items: center;
    color: #fff;
    font-size: 1.3em;
    line-height: 2em;
  }

  .SwitcherDescribe h3 {
    font-size: 1.5vw;
    margin-bottom: 1em;
  }

  .Switcher img {
    border-radius: 5px;
    width: 47vw;
  }

  .SwitcherButtons {
    row-gap: 3vh;
  }

  .MenuPhotos {
    display: grid;
    justify-content: end;
    align-items: center;
  }
}

/* Phone view */

@media screen and (max-width: 1200px) {

  .MenuGrid {
    display: grid;
    grid-template-columns: 83vw;
    grid-template-rows: 20vw auto auto auto;
    justify-content: start;
    row-gap: 2vw;

  }

  .Switcher {
    display: grid;
    grid-template-columns: 30vw 40vw;
    column-gap: 5vw;
  }

  .SwitcherDescribe {
    display: grid;
    align-items: center;
    color: #fff;
    width: 49vw;
  }

  .SwitcherDescribe h3 {
    font-size: 3em;
    line-height: 5vw;
    margin-bottom: 1em;
  }

  .SwitcherDescribe li {
    font-size: 2.2em;
    line-height: 5vw;
  }

  .Switcher img {
    border-radius: 5px;
    width: 84vw;
    margin-top: 10vw;
  }

  .SwitcherButtons {
    row-gap: 2vw;
  }

  .MenuPhotos {
    display: grid;
    column-width: auto;
  }


}