
@media screen and (min-width: 1200px) {
    #Home {
        margin-bottom: 4vw;
    }
    
    #Offer {
        margin-bottom: 14vw;
    }
    
    #Gallery {
        margin-bottom: 10vw;
    }
    
}


@media screen and (max-width: 1200px) {
    #Home {
        margin-bottom: 10vw;
    }
    #Offer {
        margin-bottom: 10vw;
    }
    
}