
@media screen and (min-width: 1200px) {
    .HomeSection {
        margin-bottom: 4vw;
    }
    
    .OfferSection {
        margin-bottom: 14vw;
    }
    
    
}


@media screen and (max-width: 1200px) {
    .HomeSection {
        margin-bottom: 10vw;
    }
    .OfferSection {
        margin-bottom: 10vw;
    }
    
}