@media screen and (min-width: 1200px) {
    
    .Gallery img {
        max-width: 25vw;
        max-height: 40vw;
    }
    
}

.Gallery {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 80vw;
    row-gap: 2.2vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.GalleryTitle {
    /* padding-bottom: 2vw; */
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 3rem;
  }


  @media screen and (max-width: 1200px) {

    .Gallery img {
        max-width: 55vw;
        height: 60vw;
    }
      
  }